# Server
NODE_ENV=development
PORT=3000

# MySQL
DB_HOST=localhost
DB_PORT=3306
DB_USER=root
DB_PASSWORD=JOHWEN2019ry@com
DB_NAME=auth_service
DB_CONNECTION_LIMIT=10

# JWT (RS256) - paths to PEM key files
JWT_PRIVATE_KEY_PATH=./keys/private.pem
JWT_PUBLIC_KEY_PATH=./keys/public.pem
JWT_KID=auth-key-1
JWT_ISSUER=auth-service
JWT_ACCESS_TTL=15m
JWT_REFRESH_TTL_DAYS=30

# Admin
ADMIN_API_KEY=replace-me-with-a-long-random-string

# Email (Nodemailer SMTP)
SMTP_HOST=smtp.example.com
SMTP_PORT=587
SMTP_SECURE=false
SMTP_USER=
SMTP_PASSWORD=
SMTP_FROM="Auth Service <no-reply@example.com>"
APP_BASE_URL=http://localhost:3000
